.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
*.pot
db.sqlite3
media/
staticfiles/

# Environment variables
.env
*.env

# Frontend
/frontend/package-lock.json
/frontend/.next
/frontend/node_modules

# Docker
docker-compose.override.yml

# IDEs
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
