[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
pipfile = "*"
numpy = "*"
pandas = "*"
transformers = "*"
datasets = "*"
torch = "*"
scikit-learn = "*"
evaluate = "*"
nltk = "*"
tqdm = "*"
spacy = "*"
autocorrect = "*"
pyspellchecker = "*"
inexactsearch = "*"
spellchecker = "*"
accelerate = "*"
huggingface-hub = "*"
lightgbm = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
